
:root {
    --bg-dk-green: #0D504C;
    --bg-lt-green: #237A74;
    --bg-txt-green: #477C88;
    --bg-lt-blue: #86B0BD;
}

.navBar {
    color: black;
}

.nav {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1;
}

.navDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navH1 {
    margin: 0.3rem 1.2rem;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}


.background {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    
}

.links {
    color: white;
    padding: 0 1rem;
    text-decoration: none; 
}