
:root {
    --bg-dk-green: #0D504C;
    --bg-lt-green: #237A74;
    --bg-txt-green: #477C88;
    --bg-lt-blue: #86B0BD;
    --tbox: #2A666A;
}

.aboutContainer {

    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dk-green);
    color: white;
}

.mainContainer {
    height: fit-content;
    padding: 70px 2.5rem .5rem 2.5rem;
    position: relative;
}

.editButton, .donateButton  {
    right: 50px;
    border: none;
    font: inherit;
    outline: inherit;
    font-weight: 500;
    font-size: 1.3rem;
    width: fit-content;
    letter-spacing: 0.03em;
    color: white;
    background-color: var(--bg-lt-green);
    border-radius: 10px;
    padding: 10px 15px;
    width: fit-content;
}

.rightFloat {
    position: absolute;
    right: 3%;
    top: 80px;
    z-index: 1;

}

.editButton:hover {
    scale: 1.1;
    color:rgb(240, 237, 237);
    box-shadow:rgb(211, 209, 209) 0px 0px 10px 0px;
}
.donateButton:hover {
    scale: 1.1;
    color:rgb(240, 237, 237);
    box-shadow:rgb(211, 209, 209) 0px 0px 10px 0px;
}


.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 1rem;
    position: relative;
    

}

.imgDivTainer {
    float: left;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;

}

.imgPartner {

    /* display: flex;
    justify-content:flex-start;
    align-items:flex-start; */
    aspect-ratio: 16/9;
    max-width: 100%;
    scale: 0.7;


}

.dataList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 1rem;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;

}

.h2Name {
    margin-bottom: 2.5rem;
    font-size: 2.6rem;
}

.descriptionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--tbox);
    border-radius: 15px;
    padding: 1rem;
    color: white;
    font-size: 1.4vw;
}

.h1FYPp {
    width: 100%;
    /* background-color: rgb(0, 0, 0, 0.5); */
    background-color: var(--bg-lt-green);
    padding: 1rem;
    font-size: 1.5rem;
    bottom: 0;
    margin: 0;
    color: white;
    margin-top: 3rem;
}

.comingSoon {
    width: 100%;
    font-size: 0.66rem;
    margin-bottom: 0.2rem;
}